includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    bootstrapFiles:
        - bootstrap/app.php

    excludePaths:
        - app/**/*.blade.php
